<div>
    <h1>过滤器结构</h1>
    <pre>
    { {带过滤数据 | 过滤器名：参数1：参数2：参数3.....} }

    app.filter('过滤器名', function () {
        return function (待过滤数据, 参数....) {
                    ......
            return  已过滤数据;
    }
    </pre>
</div>
<div>
    <h4>系统filter</h4> {{testCurrency|currency:'￥':2}}<br>
    <h4>自定义filter</h4> {{mobile|hidePhoneNumber:4:4}}<br>
    <h4>JS调用filter</h4>{{initMobile}} <button ng-click="toggleNumber(4, 4)"><span ng-if='show()'>显示</span><span ng-if='!show()'>隐藏</span>号码</button>
</div>

UserValue的值：<label ng-bind="userValue"></label>